body{
  margin: 0px;
  padding: 0px;
}

#logo {
  height: 127px;
  width: 98px;
}

h3 {
  font-family: helvetica;
  font-size: 1.5em;
  color: white;
}

.landing-wrapper {
  position: fixed;
  left: 50%;
  top: 40%;
  text-align: center;
  margin-left: -150px;
  margin-top: -85px;
}

#email_address {
  width: 210px;
  height: 20px;
}

.email_stuff {
  display: inline-block;
}

#email_button {
  background-color: red;
  color: white;
  font-family: helvetica;
  font-size: 1em;
  padding: 3px;
}

/* video stuff */

.blue {
  position: fixed;
  background-color: hsl(210, 70%, 70%);
  width: 100%;
  height: 100%;
  /*margin-top: 21%;*/
  vertical-align: bottom;
}

iframe {
  margin: 0px;
  padding: 0px;
}
