<iframe class="blue" src="//fast.wistia.net/embed/iframe/nqa4h7rp0v" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen></iframe>
<div class="landing-wrapper">
  <img id="logo" src="client/images/periscope-logo.svg">
  <h3> Better news is coming soon </h3>
 <input id="email_address" class="email_stuff" name="email_input" placeholder="email here">
 <div class="email_stuff" id="email_button">Submit</div>
</div>

