<div class="blue"> <div>
<div class="landing-wrapper">
  <img id="logo" src="client/images/periscope-logo.svg">
  <h3> Better news is coming soon </h3>
  <input id="email_address" name="email_input" placeholder="email here">
</div>

