<div id="header">
  <div id="top_left" class="nav">
    <h3>Aspect News</h3>
  </div>
  <div id="top_right" class="nav">
    <p><a href="/admin">SEARCH</a></p>
    <p>ABOUT</p>
  </div>
</div>
<div id="divider"></div>

<ul id="topicList">

</ul>

