@font-face {
    font-family: 'cheltenhm'; /*a name to be used later*/
    src: url('fonts/ichlthmn.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'cheltenhm-book-bold'; /*a name to be used later*/
    src: url('fonts/Cheltenham\ Bold\ Headline\ BT.ttf'); /*URL to font*/
}

body{
  margin: 0px;
  padding: 0px;
}

#logo {
  position: absolute;
  left: 50%;
  width: 90px;
  margin-left: -45px;
}

h3 {
  font-family: 'cheltenhm', serif;
  font-weight: light;
  font-size: 1.7em;
  color: black;
  margin-top: 59px;
}

.landing-wrapper {
  position: fixed;
  left: 50%;
  top: 40%;
  text-align: center;
  margin-left: -150px;
  margin-top: -85px;
}

.inline {
  float: left;
}

#email_address {
  width: 210px;
  height: 27px;
  font-family: helvetica;
  font-size: 15px;
  line-height: 27px;
  border: 2px solid #333;
  margin-left: 13px;
}

input:focus {
  outline: 0;
}

#email_button {
  background: -webkit-linear-gradientred(#333 , #111); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( #333 , #111); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #333 , #111); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #333 , #111); /* Standard syntax (must be last) */
  color: white;
  font-family: helvetica;
  font-size: 15px;
  padding: 3px;
  width: 78px;
  height: 27px;  
  line-height: 27px;
  cursor: pointer;
  text-shadow: 0 1px 1px black;
}

/* video stuff */
.signed-up {
  font-family: 'cheltenhm', serif;
  font-weight: bold;
  z-index: 100px;
  position: fixed;
  color: black;
  font-size: 1.7em;
  top: 50%;
  margin-top: -60px;
  left: 50%;
  margin-left: -165px;
}

.already-signed-up{
  color: black;
  font-family: 'cheltenhm', Georgia;
  font-size: 1.4em;
  z-index: 100;
  position: fixed;
  width: 500px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -104px;
}

.error {
  color: red;
  font-family: Helvetica;
  font-weight: light;
  display: block;
  margin-top: 5px;
}
