{{# articles }}
	<div class="articleWrapper">
		<div class="articleChooser notSelected" id="{{ id }}">
			<a href="{{link}}" target="_blank" class="title"> {{ title }} </a>
			<h5 class="publication"> {{ publication }} </h5>
			<h5 class="date"> {{ date_written }} </h5>
		</div>
		<div class="polScore scores">
			<h5> Pol. Score </h5>
			<h4> {{ political_score }} </h4>
		</div>
		<div class="posScore scores">
			<h5> Pos. Score </h5>
			<h4> {{ pos_neg_score }} </h4>
		</div>
	</div>
{{/ articles }}