<iframe class="blue" src="//fast.wistia.net/embed/iframe/nqa4h7rp0v" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen></iframe>
<div class="landing-wrapper">
  <img id="logo" src="images/periscope-logo.svg">
  <h3> See More Than One Side </h3>
 <div id="input">
 	<input id="email_address" name="email_input" placeholder="  Email Address">
 </div>
 <div id="email_button">Join Beta</div>
</div>

