	<img id="logo" class="header" src="images/periscope.png">
<div class="landing-wrapper">
	<h3 class="header"> See More Than One Side </h3>
 	<input id="email_address" class="inline" name="email_input" placeholder="  Email Address">
 	<div id="email_button" class="inline">Join Beta</div>
 
</div>

