{{# articles }}

<div class='inner-items'>
  <div class='article'>
    <a id="{{ number }}" href="{{ link }}" target='_blank'>
      <h4> {{ title }} </h4>
      <div class='description'>
        <p> {{ description }} </p>
        <h5> {{ source }} </h5>
      </div>
    </a>
  </div>
</div>

{{/ articles }}
