<div class="topics-wrapper">
{{# topics }}
	
	<div id="{{ id }}"class="topic-wrapper">
		<div class="topic-header">
			<div class="topic-title">
				<h2>{{ title }}</h2>
			</div>
		</div>
	
	
		<div class='inner' style="display: none;"> {{! style="display: none;" }}
			{{! <div class='image-description inner-item' id="desc{{ id">  }}
				{{! <img src="{{image">
			</div> }}
			<div class="new-description inner-item">
			</div>
			<div class = "inner-item articles">
			{{# articles }}
			  <div class='article'>
			    <a href="{{ link }}" target='_blank'>
			      <h4> {{ title }} </h4>
			      <div class='summary'>
			        <p> {{ summary }} </p>
			        <h5> {{ publication }} </h5>
			      </div>
			    </a>
			  </div>
		  	{{/ articles }}
		  	</div>
		</div>
	</div>
	

{{/ topics }}
</div>
