{{# topics }}
	
	<div id="{{ id }}"class="topic-wrapper">
		<div class="topic-header">
			<div class="topic-title">
				<h2>{{ title }}</h2>
			</div>
		</div>
	
	
		<div class='inner' style="display: none;"> {{! style="display: none;" }}
			<div class='image-description inner-item' id="desc{{ id }}"> 
				<img src="{{ image }}">
			</div>
			{{# articles }}
			  <div class='article inner-item'>
			    <a href="{{ link }}" target='_blank'>
			      <h4> {{ title }} </h4>
			      <div class='summary'>
			        <p> {{ description }} </p>
			        <h5> {{ publication }} </h5>
			      </div>
			    </a>
			  </div>
		  	{{/ articles }}
		</div>
	</div>
	

{{/ topics }}
